

RewriteEngine on
# If the file is not base.php
RewriteCond %{REQUEST_URI} !^/meagerBase\.php
# if the file ends with .php or .html or has no extension
RewriteCond %{REQUEST_URI} (\.php|\.html|/[^/.]*)$
RewriteRule ^(.+)$ meagerBase.php?page=$1&%{QUERY_STRING} [L]


